.Calendar {
  display:flex;
  flex-wrap:wrap;
  background-color: #F5F1E9;
}

.Calendar-month {
  flex: 1 0 30%;
  width: 30%;
  padding: 10px;
}

.Calendar-month-header {
  background-color: rgb(253, 145, 138);
  /*background-color: rgb(46, 204, 113);*/
  padding: 10px;
  border-radius: 12px 12px 0px 0px;
}

.Calendar-month-header h1 {
  color: white;
}

.Calendar-day-header {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-around;
  background: #FFFFFF;
}

.Calendar-day-label {
  flex: 1 0 14.28%;
  color: rgb(253, 145, 138);
  width: 14.28%;
  height: 68.5714px;
  line-height: 68.5714px;
}

.Calendar-day {
  flex: 1 0 14.28%;
  width: 14.28%;
  color: rgb(120, 120, 120);
  height: 68.5714px;
  line-height: 68.5714px;
}

.Calendar-day:hover {
  background-color: rgb(248, 248, 248);
  width: 68.5714px;
  height: 68.5714px;
  line-height: 68.5714px;
}

.Calendar-day-blank {
  flex: 1 0 14.28%;
  width: 14.28%;
  background-color: rgb(255, 251, 251);
  height: 68.5714px;
  line-height: 68.5714px;
}

.Calendar-days {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  background: #FFFFFF;
}

